<label for="prodbuy-selector">Postnummer: <span class="post-selected"></span></label>
<select class="prodbuy-selector" id="prodbuy-selector">
  <option value="" data-navn="Frederiksberg" data-pris="1000 DKK" disabled selected>Select Postnummer</option>
  <option value="2000" data-navn="Frederiksberg" data-pris="1000 DKK">2000</option>
  <option value="2100" data-navn="København Ø" data-pris="1000 DKK">2100</option>
  <option value="2150" data-navn="Nordhavn" data-pris="1000 DKK">2150</option>
  <option value="2200" data-navn="København N" data-pris="1000 DKK">2200</option>
  <option value="2300" data-navn="København S" data-pris="1000 DKK">2300</option>
  <option value="2400" data-navn="København NV" data-pris="1000 DKK">2400</option>
  <option value="2450" data-navn="København SV" data-pris="1000 DKK">2450</option>
  <option value="2500" data-navn="Valby" data-pris="1000 DKK">2500</option>
  <option value="2600" data-navn="Glostrup" data-pris="1000 DKK">2600</option>
  <option value="2605" data-navn="Brøndby" data-pris="1000 DKK">2605</option>
  <option value="2610" data-navn="Rødovre" data-pris="1000 DKK">2610</option>
  <option value="2620" data-navn="Albertslund" data-pris="1000 DKK">2620</option>
  <option value="2625" data-navn="Vallensbæk" data-pris="1000 DKK">2625</option>
  <option value="2630" data-navn="Taastrup" data-pris="1000 DKK">2630</option>
  <option value="2635" data-navn="Ishøj" data-pris="1000 DKK">2635</option>
  <option value="2640" data-navn="Hedehusene" data-pris="1000 DKK">2640</option>
  <option value="2650" data-navn="Hvidovre" data-pris="1000 DKK">2650</option>
  <option value="2660" data-navn="Brøndby Strand" data-pris="1000 DKK">2660</option>
  <option value="2665" data-navn="Vallensbæk Strand" data-pris="1000 DKK">2665</option>
  <option value="2670" data-navn="Greve" data-pris="1000 DKK">2670</option>
  <option value="2680" data-navn="Solrød Strand" data-pris="1000 DKK">2680</option>
  <option value="2690" data-navn="Karlslunde" data-pris="1000 DKK">2690</option>
  <option value="2700" data-navn="Brønshøj" data-pris="1000 DKK">2700</option>
  <option value="2720" data-navn="Vanløse" data-pris="1000 DKK">2720</option>
  <option value="2730" data-navn="Herlev" data-pris="1000 DKK">2730</option>
  <option value="2740" data-navn="Skovlunde" data-pris="1000 DKK">2740</option>
  <option value="2750" data-navn="Ballerup" data-pris="1000 DKK">2750</option>
  <option value="2760" data-navn="Måløv" data-pris="1000 DKK">2760</option>
  <option value="2765" data-navn="Smørum" data-pris="1000 DKK">2765</option>
  <option value="2770" data-navn="Kastrup" data-pris="1000 DKK">2770</option>
  <option value="2791" data-navn="Dragør" data-pris="1000 DKK">2791</option>
  <option value="2800" data-navn="Kongens Lyngby" data-pris="1000 DKK">2800</option>
  <option value="2820" data-navn="Gentofte" data-pris="1000 DKK">2820</option>
  <option value="2830" data-navn="Virum" data-pris="1000 DKK">2830</option>
  <option value="2840" data-navn="Holte" data-pris="1000 DKK">2840</option>
  <option value="2850" data-navn="Nærum" data-pris="1000 DKK">2850</option>
  <option value="2860" data-navn="Søborg" data-pris="1000 DKK">2860</option>
  <option value="2870" data-navn="Dyssegård" data-pris="1000 DKK">2870</option>
  <option value="2880" data-navn="Bagsværd" data-pris="1000 DKK">2880</option>
  <option value="2900" data-navn="Hellerup" data-pris="1000 DKK">2900</option>
  <option value="2920" data-navn="Charlottenlund" data-pris="1000 DKK">2920</option>
  <option value="2930" data-navn="Klampenborg" data-pris="1000 DKK">2930</option>
  <option value="2942" data-navn="Skodsborg" data-pris="1000 DKK">2942</option>
  <option value="2950" data-navn="Vedbæk" data-pris="1000 DKK">2950</option>
  <option value="2960" data-navn="Rungsted Kyst" data-pris="1000 DKK">2960</option>
  <option value="2970" data-navn="Hørsholm" data-pris="1000 DKK">2970</option>
  <option value="2980" data-navn="Kokkedal" data-pris="1000 DKK">2980</option>
  <option value="2990" data-navn="Nivå" data-pris="1000 DKK">2990</option>
  <option value="3000" data-navn="Helsingør" data-pris="1000 DKK">3000</option>
  <option value="3050" data-navn="Humlebæk" data-pris="1000 DKK">3050</option>
  <option value="3060" data-navn="Espergærde" data-pris="1000 DKK">3060</option>
  <option value="3070" data-navn="Snekkersten" data-pris="1000 DKK">3070</option>
  <option value="3080" data-navn="Tikøb" data-pris="1000 DKK">3080</option>
  <option value="3100" data-navn="Hornbæk" data-pris="1000 DKK">3100</option>
  <option value="3120" data-navn="Dronningmølle" data-pris="1000 DKK">3120</option>
  <option value="3140" data-navn="Ålsgårde" data-pris="1000 DKK">3140</option>
  <option value="3150" data-navn="Hellebæk" data-pris="1000 DKK">3150</option>
  <option value="3200" data-navn="Helsinge" data-pris="1000 DKK">3200</option>
  <option value="3210" data-navn="Vejby" data-pris="1000 DKK">3210</option>
  <option value="3220" data-navn="Tisvildeleje" data-pris="1000 DKK">3220</option>
  <option value="3230" data-navn="Græsted" data-pris="1000 DKK">3230</option>
  <option value="3250" data-navn="Gilleleje" data-pris="1000 DKK">3250</option>
  <option value="3300" data-navn="Frederiksværk" data-pris="1000 DKK">3300</option>
  <option value="3310" data-navn="Ølsted" data-pris="1000 DKK">3310</option>
  <option value="3320" data-navn="Skævinge" data-pris="1000 DKK">3320</option>
  <option value="3330" data-navn="Gørløse" data-pris="1000 DKK">3330</option>
  <option value="3360" data-navn="Liseleje" data-pris="1000 DKK">3360</option>
  <option value="3370" data-navn="Melby" data-pris="1000 DKK">3370</option>
  <option value="3390" data-navn="Hundested" data-pris="1000 DKK">3390</option>
  <option value="3400" data-navn="Hillerød" data-pris="1000 DKK">3400</option>
  <option value="3450" data-navn="Allerød" data-pris="1000 DKK">3450</option>
  <option value="3460" data-navn="Birkerød" data-pris="1000 DKK">3460</option>
  <option value="3480" data-navn="Fredensborg" data-pris="1000 DKK">3480</option>
  <option value="3490" data-navn="Kvistgård" data-pris="1000 DKK">3490</option>
  <option value="3500" data-navn="Værløse" data-pris="1000 DKK">3500</option>
  <option value="3520" data-navn="Farum" data-pris="1000 DKK">3520</option>
  <option value="3540" data-navn="Lynge" data-pris="1000 DKK">3540</option>
  <option value="3550" data-navn="Slangerup" data-pris="1000 DKK">3550</option>
  <option value="3600" data-navn="Frederikssund" data-pris="1000 DKK">3600</option>
  <option value="3630" data-navn="Jægerspris" data-pris="1000 DKK">3630</option>
  <option value="3650" data-navn="Ølstykke" data-pris="1000 DKK">3650</option>
  <option value="3660" data-navn="Stenløse" data-pris="1000 DKK">3660</option>
  <option value="3670" data-navn="Veksø Sjælland" data-pris="1000 DKK">3670</option>
  <option value="3700" data-navn="Rønne" data-pris="1000 DKK">3700</option>
  <option value="3720" data-navn="Aakirkeby" data-pris="1000 DKK">3720</option>
  <option value="3730" data-navn="Nexø" data-pris="1000 DKK">3730</option>
  <option value="3740" data-navn="Svaneke" data-pris="1000 DKK">3740</option>
  <option value="3751" data-navn="Østermarie" data-pris="1000 DKK">3751</option>
  <option value="3760" data-navn="Gudhjem" data-pris="1000 DKK">3760</option>
  <option value="3770" data-navn="Allinge" data-pris="1000 DKK">3770</option>
  <option value="3782" data-navn="Klemensker" data-pris="1000 DKK">3782</option>
  <option value="3790" data-navn="Hasle" data-pris="1000 DKK">3790</option>
  <option value="4000" data-navn="Roskilde" data-pris="1000 DKK">4000</option>
  <option value="4030" data-navn="Tune" data-pris="1000 DKK">4030</option>
  <option value="4040" data-navn="Jyllinge" data-pris="1000 DKK">4040</option>
  <option value="4050" data-navn="Skibby" data-pris="1000 DKK">4050</option>
  <option value="4060" data-navn="Kirke Såby" data-pris="1000 DKK">4060</option>
  <option value="4070" data-navn="Kirke Hyllinge" data-pris="1000 DKK">4070</option>
  <option value="4100" data-navn="Ringsted" data-pris="1000 DKK">4100</option>
  <option value="4129" data-navn="Ringsted" data-pris="1000 DKK">4129</option>
  <option value="4130" data-navn="Viby Sjælland" data-pris="1000 DKK">4130</option>
  <option value="4140" data-navn="Borup" data-pris="1000 DKK">4140</option>
  <option value="4160" data-navn="Herlufmagle" data-pris="1000 DKK">4160</option>
  <option value="4171" data-navn="Glumsø" data-pris="1000 DKK">4171</option>
  <option value="4173" data-navn="Fjenneslev" data-pris="1000 DKK">4173</option>
  <option value="4174" data-navn="Jystrup Midtsj" data-pris="1000 DKK">4174</option>
  <option value="4180" data-navn="Sorø" data-pris="1000 DKK">4180</option>
  <option value="4190" data-navn="Munke Bjergby" data-pris="1000 DKK">4190</option>
  <option value="4200" data-navn="Slagelse" data-pris="1000 DKK">4200</option>
  <option value="4220" data-navn="Korsør" data-pris="1000 DKK">4220</option>
  <option value="4230" data-navn="Skælskør" data-pris="1000 DKK">4230</option>
  <option value="4241" data-navn="Vemmelev" data-pris="1000 DKK">4241</option>
  <option value="4242" data-navn="Boeslunde" data-pris="1000 DKK">4242</option>
  <option value="4243" data-navn="Rude" data-pris="1000 DKK">4243</option>
  <option value="4244" data-navn="Agersø" data-pris="1000 DKK">4244</option>
  <option value="4245" data-navn="Omø" data-pris="1000 DKK">4245</option>
  <option value="4250" data-navn="Fuglebjerg" data-pris="1000 DKK">4250</option>
  <option value="4261" data-navn="Dalmose" data-pris="1000 DKK">4261</option>
  <option value="4262" data-navn="Sandved" data-pris="1000 DKK">4262</option>
  <option value="4270" data-navn="Høng" data-pris="1000 DKK">4270</option>
  <option value="4281" data-navn="Gørlev" data-pris="1000 DKK">4281</option>
  <option value="4291" data-navn="Ruds Vedby" data-pris="1000 DKK">4291</option>
  <option value="4293" data-navn="Dianalund" data-pris="1000 DKK">4293</option>
  <option value="4295" data-navn="Stenlille" data-pris="1000 DKK">4295</option>
  <option value="4296" data-navn="Nyrup" data-pris="1000 DKK">4296</option>
  <option value="4300" data-navn="Holbæk" data-pris="1000 DKK">4300</option>
  <option value="4305" data-navn="Orø" data-pris="1000 DKK">4305</option>
  <option value="4320" data-navn="Lejre" data-pris="1000 DKK">4320</option>
  <option value="4330" data-navn="Hvalsø" data-pris="1000 DKK">4330</option>
  <option value="4340" data-navn="Tølløse" data-pris="1000 DKK">4340</option>
  <option value="4350" data-navn="Ugerløse" data-pris="1000 DKK">4350</option>
  <option value="4360" data-navn="Kirke Eskilstrup" data-pris="1000 DKK">4360</option>
  <option value="4370" data-navn="Store Merløse" data-pris="1000 DKK">4370</option>
  <option value="4390" data-navn="Vipperød" data-pris="1000 DKK">4390</option>
  <option value="4400" data-navn="Kalundborg" data-pris="1000 DKK">4400</option>
  <option value="4420" data-navn="Regstrup" data-pris="1000 DKK">4420</option>
  <option value="4440" data-navn="Mørkøv" data-pris="1000 DKK">4440</option>
  <option value="4450" data-navn="Jyderup" data-pris="1000 DKK">4450</option>
  <option value="4460" data-navn="Snertinge" data-pris="1000 DKK">4460</option>
  <option value="4470" data-navn="Svebølle" data-pris="1000 DKK">4470</option>
  <option value="4480" data-navn="Store Fuglede" data-pris="1000 DKK">4480</option>
  <option value="4490" data-navn="Jerslev Sjælland" data-pris="1000 DKK">4490</option>
  <option value="4500" data-navn="Nykøbing Sj" data-pris="1000 DKK">4500</option>
  <option value="4520" data-navn="Svinninge" data-pris="1000 DKK">4520</option>
  <option value="4532" data-navn="Gislinge" data-pris="1000 DKK">4532</option>
  <option value="4534" data-navn="Hørve" data-pris="1000 DKK">4534</option>
  <option value="4540" data-navn="Fårevejle" data-pris="1000 DKK">4540</option>
  <option value="4550" data-navn="Asnæs" data-pris="1000 DKK">4550</option>
  <option value="4560" data-navn="Vig" data-pris="1000 DKK">4560</option>
  <option value="4571" data-navn="Grevinge" data-pris="1000 DKK">4571</option>
  <option value="4572" data-navn="Nørre Asmindrup" data-pris="1000 DKK">4572</option>
  <option value="4573" data-navn="Højby" data-pris="1000 DKK">4573</option>
  <option value="4581" data-navn="Rørvig" data-pris="1000 DKK">4581</option>
  <option value="4583" data-navn="Sjællands Odde" data-pris="1000 DKK">4583</option>
  <option value="4591" data-navn="Føllenslev" data-pris="1000 DKK">4591</option>
  <option value="4592" data-navn="Sejerø" data-pris="1000 DKK">4592</option>
  <option value="4593" data-navn="Eskebjerg" data-pris="1000 DKK">4593</option>
  <option value="4600" data-navn="Køge" data-pris="1000 DKK">4600</option>
  <option value="4621" data-navn="Gadstrup" data-pris="1000 DKK">4621</option>
  <option value="4622" data-navn="Havdrup" data-pris="1000 DKK">4622</option>
  <option value="4623" data-navn="Lille Skensved" data-pris="1000 DKK">4623</option>
  <option value="4632" data-navn="Bjæverskov" data-pris="1000 DKK">4632</option>
  <option value="4640" data-navn="Faxe" data-pris="1000 DKK">4640</option>
  <option value="4652" data-navn="Hårlev" data-pris="1000 DKK">4652</option>
  <option value="4653" data-navn="Karise" data-pris="1000 DKK">4653</option>
  <option value="4654" data-navn="Faxe Ladeplads" data-pris="1000 DKK">4654</option>
  <option value="4660" data-navn="Store Heddinge" data-pris="1000 DKK">4660</option>
  <option value="4671" data-navn="Strøby" data-pris="1000 DKK">4671</option>
  <option value="4672" data-navn="Klippinge" data-pris="1000 DKK">4672</option>
  <option value="4673" data-navn="Rødvig Stevns" data-pris="1000 DKK">4673</option>
  <option value="4681" data-navn="Herfølge" data-pris="1000 DKK">4681</option>
  <option value="4682" data-navn="Tureby" data-pris="1000 DKK">4682</option>
  <option value="4683" data-navn="Rønnede" data-pris="1000 DKK">4683</option>
  <option value="4684" data-navn="Holmegaard" data-pris="1000 DKK">4684</option>
  <option value="4690" data-navn="Haslev" data-pris="1000 DKK">4690</option>
  <option value="4700" data-navn="Næstved" data-pris="1000 DKK">4700</option>
  <option value="4720" data-navn="Præstø" data-pris="1000 DKK">4720</option>
  <option value="4733" data-navn="Tappernøje" data-pris="1000 DKK">4733</option>
  <option value="4735" data-navn="Mern" data-pris="1000 DKK">4735</option>
  <option value="4736" data-navn="Karrebæksminde" data-pris="1000 DKK">4736</option>
  <option value="4750" data-navn="Lundby" data-pris="1000 DKK">4750</option>
  <option value="4760" data-navn="Vordingborg" data-pris="1000 DKK">4760</option>
  <option value="4771" data-navn="Kalvehave" data-pris="1000 DKK">4771</option>
  <option value="4772" data-navn="Langebæk" data-pris="1000 DKK">4772</option>
  <option value="4773" data-navn="Stensved" data-pris="1000 DKK">4773</option>
  <option value="4780" data-navn="Stege" data-pris="1000 DKK">4780</option>
  <option value="4791" data-navn="Borre" data-pris="1000 DKK">4791</option>
  <option value="4792" data-navn="Askeby" data-pris="1000 DKK">4792</option>
  <option value="4793" data-navn="Bogø By" data-pris="1000 DKK">4793</option>
  <option value="4800" data-navn="Nykøbing F" data-pris="1000 DKK">4800</option>
  <option value="4840" data-navn="Nørre Alslev" data-pris="1000 DKK">4840</option>
  <option value="4850" data-navn="Stubbekøbing" data-pris="1000 DKK">4850</option>
  <option value="4862" data-navn="Guldborg" data-pris="1000 DKK">4862</option>
  <option value="4863" data-navn="Eskilstrup" data-pris="1000 DKK">4863</option>
  <option value="4871" data-navn="Horbelev" data-pris="1000 DKK">4871</option>
  <option value="4872" data-navn="Idestrup" data-pris="1000 DKK">4872</option>
  <option value="4873" data-navn="Væggerløse" data-pris="1000 DKK">4873</option>
  <option value="4874" data-navn="Gedser" data-pris="1000 DKK">4874</option>
  <option value="4880" data-navn="Nysted" data-pris="1000 DKK">4880</option>
  <option value="4891" data-navn="Toreby L" data-pris="1000 DKK">4891</option>
  <option value="4892" data-navn="Kettinge" data-pris="1000 DKK">4892</option>
  <option value="4894" data-navn="Øster Ulslev" data-pris="1000 DKK">4894</option>
  <option value="4895" data-navn="Errindlev" data-pris="1000 DKK">4895</option>
  <option value="4900" data-navn="Nakskov" data-pris="1000 DKK">4900</option>
  <option value="4912" data-navn="Harpelunde" data-pris="1000 DKK">4912</option>
  <option value="4913" data-navn="Horslunde" data-pris="1000 DKK">4913</option>
  <option value="4920" data-navn="Søllested" data-pris="1000 DKK">4920</option>
  <option value="4930" data-navn="Maribo" data-pris="1000 DKK">4930</option>
  <option value="4941" data-navn="Bandholm" data-pris="1000 DKK">4941</option>
  <option value="4942" data-navn="Askø og Lilleø" data-pris="1000 DKK">4942</option>
  <option value="4943" data-navn="Torrig L" data-pris="1000 DKK">4943</option>
  <option value="4944" data-navn="Fejø" data-pris="1000 DKK">4944</option>
  <option value="4945" data-navn="Femø" data-pris="1000 DKK">4945</option>
  <option value="4951" data-navn="Nørreballe" data-pris="1000 DKK">4951</option>
  <option value="4952" data-navn="Stokkemarke" data-pris="1000 DKK">4952</option>
  <option value="4953" data-navn="Vesterborg" data-pris="1000 DKK">4953</option>
  <option value="4960" data-navn="Holeby" data-pris="1000 DKK">4960</option>
  <option value="4970" data-navn="Rødby" data-pris="1000 DKK">4970</option>
  <option value="4983" data-navn="Dannemare" data-pris="1000 DKK">4983</option>
  <option value="4990" data-navn="Sakskøbing" data-pris="1000 DKK">4990</option>
  <option value="4992" data-navn="Midtsjælland USF P" data-pris="1000 DKK">4992</option>
  <option value="5000" data-navn="Odense C" data-pris="1000 DKK">5000</option>
  <option value="5029" data-navn="Odense C" data-pris="1000 DKK">5029</option>
  <option value="5100" data-navn="Odense C" data-pris="1000 DKK">5100</option>
  <option value="5200" data-navn="Odense V" data-pris="1000 DKK">5200</option>
  <option value="5210" data-navn="Odense NV" data-pris="1000 DKK">5210</option>
  <option value="5220" data-navn="Odense SØ" data-pris="1000 DKK">5220</option>
  <option value="5230" data-navn="Odense M" data-pris="1000 DKK">5230</option>
  <option value="5240" data-navn="Odense NØ" data-pris="1000 DKK">5240</option>
  <option value="5250" data-navn="Odense SV" data-pris="1000 DKK">5250</option>
  <option value="5260" data-navn="Odense S" data-pris="1000 DKK">5260</option>
  <option value="5270" data-navn="Odense N" data-pris="1000 DKK">5270</option>
  <option value="5290" data-navn="Marslev" data-pris="1000 DKK">5290</option>
  <option value="5300" data-navn="Kerteminde" data-pris="1000 DKK">5300</option>
  <option value="5320" data-navn="Agedrup" data-pris="1000 DKK">5320</option>
  <option value="5330" data-navn="Munkebo" data-pris="1000 DKK">5330</option>
  <option value="5350" data-navn="Rynkeby" data-pris="1000 DKK">5350</option>
  <option value="5370" data-navn="Mesinge" data-pris="1000 DKK">5370</option>
  <option value="5380" data-navn="Dalby" data-pris="1000 DKK">5380</option>
  <option value="5390" data-navn="Martofte" data-pris="1000 DKK">5390</option>
  <option value="5400" data-navn="Bogense" data-pris="1000 DKK">5400</option>
  <option value="5450" data-navn="Otterup" data-pris="1000 DKK">5450</option>
  <option value="5462" data-navn="Morud" data-pris="1000 DKK">5462</option>
  <option value="5463" data-navn="Harndrup" data-pris="1000 DKK">5463</option>
  <option value="5464" data-navn="Brenderup Fyn" data-pris="1000 DKK">5464</option>
  <option value="5466" data-navn="Asperup" data-pris="1000 DKK">5466</option>
  <option value="5471" data-navn="Søndersø" data-pris="1000 DKK">5471</option>
  <option value="5474" data-navn="Veflinge" data-pris="1000 DKK">5474</option>
  <option value="5485" data-navn="Skamby" data-pris="1000 DKK">5485</option>
  <option value="5491" data-navn="Blommenslyst" data-pris="1000 DKK">5491</option>
  <option value="5492" data-navn="Vissenbjerg" data-pris="1000 DKK">5492</option>
  <option value="5500" data-navn="Middelfart" data-pris="1000 DKK">5500</option>
  <option value="5540" data-navn="Ullerslev" data-pris="1000 DKK">5540</option>
  <option value="5550" data-navn="Langeskov" data-pris="1000 DKK">5550</option>
  <option value="5560" data-navn="Aarup" data-pris="1000 DKK">5560</option>
  <option value="5580" data-navn="Nørre Aaby" data-pris="1000 DKK">5580</option>
  <option value="5591" data-navn="Gelsted" data-pris="1000 DKK">5591</option>
  <option value="5592" data-navn="Ejby" data-pris="1000 DKK">5592</option>
  <option value="5600" data-navn="Faaborg" data-pris="1000 DKK">5600</option>
  <option value="5601" data-navn="Lyø" data-pris="1000 DKK">5601</option>
  <option value="5602" data-navn="Avernakø" data-pris="1000 DKK">5602</option>
  <option value="5603" data-navn="Bjørnø" data-pris="1000 DKK">5603</option>
  <option value="5610" data-navn="Assens" data-pris="1000 DKK">5610</option>
  <option value="5620" data-navn="Glamsbjerg" data-pris="1000 DKK">5620</option>
  <option value="5631" data-navn="Ebberup" data-pris="1000 DKK">5631</option>
  <option value="5642" data-navn="Millinge" data-pris="1000 DKK">5642</option>
  <option value="5672" data-navn="Broby" data-pris="1000 DKK">5672</option>
  <option value="5683" data-navn="Haarby" data-pris="1000 DKK">5683</option>
  <option value="5690" data-navn="Tommerup" data-pris="1000 DKK">5690</option>
  <option value="5700" data-navn="Svendborg" data-pris="1000 DKK">5700</option>
  <option value="5750" data-navn="Ringe" data-pris="1000 DKK">5750</option>
  <option value="5762" data-navn="Vester Skerninge" data-pris="1000 DKK">5762</option>
  <option value="5771" data-navn="Stenstrup" data-pris="1000 DKK">5771</option>
  <option value="5772" data-navn="Kværndrup" data-pris="1000 DKK">5772</option>
  <option value="5792" data-navn="Årslev" data-pris="1000 DKK">5792</option>
  <option value="5800" data-navn="Nyborg" data-pris="1000 DKK">5800</option>
  <option value="5853" data-navn="Ørbæk" data-pris="1000 DKK">5853</option>
  <option value="5854" data-navn="Gislev" data-pris="1000 DKK">5854</option>
  <option value="5856" data-navn="Ryslinge" data-pris="1000 DKK">5856</option>
  <option value="5863" data-navn="Ferritslev Fyn" data-pris="1000 DKK">5863</option>
  <option value="5871" data-navn="Frørup" data-pris="1000 DKK">5871</option>
  <option value="5874" data-navn="Hesselager" data-pris="1000 DKK">5874</option>
  <option value="5881" data-navn="Skårup Fyn" data-pris="1000 DKK">5881</option>
  <option value="5882" data-navn="Vejstrup" data-pris="1000 DKK">5882</option>
  <option value="5883" data-navn="Oure" data-pris="1000 DKK">5883</option>
  <option value="5884" data-navn="Gudme" data-pris="1000 DKK">5884</option>
  <option value="5892" data-navn="Gudbjerg Sydfyn" data-pris="1000 DKK">5892</option>
  <option value="5900" data-navn="Rudkøbing" data-pris="1000 DKK">5900</option>
  <option value="5932" data-navn="Humble" data-pris="1000 DKK">5932</option>
  <option value="5935" data-navn="Bagenkop" data-pris="1000 DKK">5935</option>
  <option value="5943" data-navn="Strynø" data-pris="1000 DKK">5943</option>
  <option value="5953" data-navn="Tranekær" data-pris="1000 DKK">5953</option>
  <option value="5960" data-navn="Marstal" data-pris="1000 DKK">5960</option>
  <option value="5965" data-navn="Birkholm" data-pris="1000 DKK">5965</option>
  <option value="5970" data-navn="Ærøskøbing" data-pris="1000 DKK">5970</option>
  <option value="5985" data-navn="Søby Ærø" data-pris="1000 DKK">5985</option>
  <option value="6000" data-navn="Kolding" data-pris="0 DKK">6000</option>
  <option value="6040" data-navn="Egtved" data-pris="0 DKK">6040</option>
  <option value="6051" data-navn="Almind" data-pris="0 DKK">6051</option>
  <option value="6052" data-navn="Viuf" data-pris="0 DKK">6052</option>
  <option value="6064" data-navn="Jordrup" data-pris="0 DKK">6064</option>
  <option value="6070" data-navn="Christiansfeld" data-pris="0 DKK">6070</option>
  <option value="6091" data-navn="Bjert" data-pris="0 DKK">6091</option>
  <option value="6092" data-navn="Sønder Stenderup" data-pris="0 DKK">6092</option>
  <option value="6093" data-navn="Sjølund" data-pris="0 DKK">6093</option>
  <option value="6094" data-navn="Hejls" data-pris="0 DKK">6094</option>
  <option value="6100" data-navn="Haderslev" data-pris="0 DKK">6100</option>
  <option value="6200" data-navn="Aabenraa" data-pris="0 DKK">6200</option>
  <option value="6210" data-navn="Barsø" data-pris="0 DKK">6210</option>
  <option value="6230" data-navn="Rødekro" data-pris="0 DKK">6230</option>
  <option value="6240" data-navn="Løgumkloster" data-pris="0 DKK">6240</option>
  <option value="6261" data-navn="Bredebro" data-pris="0 DKK">6261</option>
  <option value="6270" data-navn="Tønder" data-pris="0 DKK">6270</option>
  <option value="6280" data-navn="Højer" data-pris="0 DKK">6280</option>
  <option value="6300" data-navn="Gråsten" data-pris="0 DKK">6300</option>
  <option value="6310" data-navn="Broager" data-pris="0 DKK">6310</option>
  <option value="6320" data-navn="Egernsund" data-pris="0 DKK">6320</option>
  <option value="6330" data-navn="Padborg" data-pris="0 DKK">6330</option>
  <option value="6340" data-navn="Kruså" data-pris="0 DKK">6340</option>
  <option value="6360" data-navn="Tinglev" data-pris="0 DKK">6360</option>
  <option value="6372" data-navn="Bylderup-Bov" data-pris="0 DKK">6372</option>
  <option value="6392" data-navn="Bolderslev" data-pris="0 DKK">6392</option>
  <option value="6400" data-navn="Sønderborg" data-pris="0 DKK">6400</option>
  <option value="6430" data-navn="Nordborg" data-pris="0 DKK">6430</option>
  <option value="6440" data-navn="Augustenborg" data-pris="0 DKK">6440</option>
  <option value="6470" data-navn="Sydals" data-pris="0 DKK">6470</option>
  <option value="6500" data-navn="Vojens" data-pris="0 DKK">6500</option>
  <option value="6510" data-navn="Gram" data-pris="0 DKK">6510</option>
  <option value="6520" data-navn="Toftlund" data-pris="0 DKK">6520</option>
  <option value="6534" data-navn="Agerskov" data-pris="0 DKK">6534</option>
  <option value="6535" data-navn="Branderup J" data-pris="0 DKK">6535</option>
  <option value="6541" data-navn="Bevtoft" data-pris="0 DKK">6541</option>
  <option value="6560" data-navn="Sommersted" data-pris="0 DKK">6560</option>
  <option value="6580" data-navn="Vamdrup" data-pris="0 DKK">6580</option>
  <option value="6600" data-navn="Vejen" data-pris="0 DKK">6600</option>
  <option value="6621" data-navn="Gesten" data-pris="0 DKK">6621</option>
  <option value="6622" data-navn="Bække" data-pris="0 DKK">6622</option>
  <option value="6623" data-navn="Vorbasse" data-pris="0 DKK">6623</option>
  <option value="6630" data-navn="Rødding" data-pris="0 DKK">6630</option>
  <option value="6640" data-navn="Lunderskov" data-pris="0 DKK">6640</option>
  <option value="6650" data-navn="Brørup" data-pris="0 DKK">6650</option>
  <option value="6660" data-navn="Lintrup" data-pris="0 DKK">6660</option>
  <option value="6670" data-navn="Holsted" data-pris="0 DKK">6670</option>
  <option value="6682" data-navn="Hovborg" data-pris="0 DKK">6682</option>
  <option value="6683" data-navn="Føvling" data-pris="0 DKK">6683</option>
  <option value="6690" data-navn="Gørding" data-pris="0 DKK">6690</option>
  <option value="6700" data-navn="Esbjerg" data-pris="0 DKK">6700</option>
  <option value="6701" data-navn="Esbjerg" data-pris="0 DKK">6701</option>
  <option value="6705" data-navn="Esbjerg Ø" data-pris="0 DKK">6705</option>
  <option value="6710" data-navn="Esbjerg V" data-pris="0 DKK">6710</option>
  <option value="6715" data-navn="Esbjerg N" data-pris="0 DKK">6715</option>
  <option value="6720" data-navn="Fanø" data-pris="1000 DKK">6720</option>
  <option value="6731" data-navn="Tjæreborg" data-pris="0 DKK">6731</option>
  <option value="6740" data-navn="Bramming" data-pris="0 DKK">6740</option>
  <option value="6752" data-navn="Glejbjerg" data-pris="1000 DKK">6752</option>
  <option value="6753" data-navn="Agerbæk" data-pris="1000 DKK">6753</option>
  <option value="6760" data-navn="Ribe" data-pris="0 DKK">6760</option>
  <option value="6771" data-navn="Gredstedbro" data-pris="0 DKK">6771</option>
  <option value="6780" data-navn="Skærbæk" data-pris="0 DKK">6780</option>
  <option value="6792" data-navn="Rømø" data-pris="0 DKK">6792</option>
  <option value="6800" data-navn="Varde" data-pris="1000 DKK">6800</option>
  <option value="6818" data-navn="Årre" data-pris="1000 DKK">6818</option>
  <option value="6823" data-navn="Ansager" data-pris="1000 DKK">6823</option>
  <option value="6830" data-navn="Nørre Nebel" data-pris="1000 DKK">6830</option>
  <option value="6840" data-navn="Oksbøl" data-pris="1000 DKK">6840</option>
  <option value="6851" data-navn="Janderup Vestj" data-pris="1000 DKK">6851</option>
  <option value="6852" data-navn="Billum" data-pris="1000 DKK">6852</option>
  <option value="6853" data-navn="Vejers Strand" data-pris="1000 DKK">6853</option>
  <option value="6854" data-navn="Henne" data-pris="1000 DKK">6854</option>
  <option value="6855" data-navn="Outrup" data-pris="1000 DKK">6855</option>
  <option value="6857" data-navn="Blåvand" data-pris="1000 DKK">6857</option>
  <option value="6862" data-navn="Tistrup" data-pris="1000 DKK">6862</option>
  <option value="6870" data-navn="Ølgod" data-pris="1000 DKK">6870</option>
  <option value="6880" data-navn="Tarm" data-pris="1000 DKK">6880</option>
  <option value="6893" data-navn="Hemmet" data-pris="1000 DKK">6893</option>
  <option value="6900" data-navn="Skjern" data-pris="1000 DKK">6900</option>
  <option value="6920" data-navn="Videbæk" data-pris="1000 DKK">6920</option>
  <option value="6933" data-navn="Kibæk" data-pris="1000 DKK">6933</option>
  <option value="6940" data-navn="Lem St" data-pris="1000 DKK">6940</option>
  <option value="6950" data-navn="Ringkøbing" data-pris="1000 DKK">6950</option>
  <option value="6960" data-navn="Hvide Sande" data-pris="1000 DKK">6960</option>
  <option value="6971" data-navn="Spjald" data-pris="1000 DKK">6971</option>
  <option value="6973" data-navn="Ørnhøj" data-pris="1000 DKK">6973</option>
  <option value="6980" data-navn="Tim" data-pris="1000 DKK">6980</option>
  <option value="6990" data-navn="Ulfborg" data-pris="1000 DKK">6990</option>
  <option value="7000" data-navn="Fredericia" data-pris="1000 DKK">7000</option>
  <option value="7007" data-navn="Fredericia" data-pris="1000 DKK">7007</option>
  <option value="7017" data-navn="Taulov Pakkecenter" data-pris="1000 DKK">7017</option>
  <option value="7018" data-navn="Pakker TLP" data-pris="1000 DKK">7018</option>
  <option value="7029" data-navn="Fredericia" data-pris="1000 DKK">7029</option>
  <option value="7080" data-navn="Børkop" data-pris="1000 DKK">7080</option>
  <option value="7100" data-navn="Vejle" data-pris="1000 DKK">7100</option>
  <option value="7120" data-navn="Vejle Øst" data-pris="1000 DKK">7120</option>
  <option value="7130" data-navn="Juelsminde" data-pris="1000 DKK">7130</option>
  <option value="7140" data-navn="Stouby" data-pris="1000 DKK">7140</option>
  <option value="7150" data-navn="Barrit" data-pris="1000 DKK">7150</option>
  <option value="7160" data-navn="Tørring" data-pris="1000 DKK">7160</option>
  <option value="7171" data-navn="Uldum" data-pris="1000 DKK">7171</option>
  <option value="7173" data-navn="Vonge" data-pris="1000 DKK">7173</option>
  <option value="7182" data-navn="Bredsten" data-pris="1000 DKK">7182</option>
  <option value="7183" data-navn="Randbøl" data-pris="1000 DKK">7183</option>
  <option value="7184" data-navn="Vandel" data-pris="1000 DKK">7184</option>
  <option value="7190" data-navn="Billund" data-pris="1000 DKK">7190</option>
  <option value="7200" data-navn="Grindsted" data-pris="1000 DKK">7200</option>
  <option value="7250" data-navn="Hejnsvig" data-pris="1000 DKK">7250</option>
  <option value="7260" data-navn="Sønder Omme" data-pris="1000 DKK">7260</option>
  <option value="7270" data-navn="Stakroge" data-pris="1000 DKK">7270</option>
  <option value="7280" data-navn="Sønder Felding" data-pris="1000 DKK">7280</option>
  <option value="7300" data-navn="Jelling" data-pris="1000 DKK">7300</option>
  <option value="7321" data-navn="Gadbjerg" data-pris="1000 DKK">7321</option>
  <option value="7323" data-navn="Give" data-pris="1000 DKK">7323</option>
  <option value="7330" data-navn="Brande" data-pris="1000 DKK">7330</option>
  <option value="7361" data-navn="Ejstrupholm" data-pris="1000 DKK">7361</option>
  <option value="7362" data-navn="Hampen" data-pris="1000 DKK">7362</option>
  <option value="7400" data-navn="Herning" data-pris="1000 DKK">7400</option>
  <option value="7429" data-navn="Herning" data-pris="1000 DKK">7429</option>
  <option value="7430" data-navn="Ikast" data-pris="1000 DKK">7430</option>
  <option value="7441" data-navn="Bording" data-pris="1000 DKK">7441</option>
  <option value="7442" data-navn="Engesvang" data-pris="1000 DKK">7442</option>
  <option value="7451" data-navn="Sunds" data-pris="1000 DKK">7451</option>
  <option value="7470" data-navn="Karup J" data-pris="1000 DKK">7470</option>
  <option value="7480" data-navn="Vildbjerg" data-pris="1000 DKK">7480</option>
  <option value="7490" data-navn="Aulum" data-pris="1000 DKK">7490</option>
  <option value="7500" data-navn="Holstebro" data-pris="1000 DKK">7500</option>
  <option value="7540" data-navn="Haderup" data-pris="1000 DKK">7540</option>
  <option value="7550" data-navn="Sørvad" data-pris="1000 DKK">7550</option>
  <option value="7560" data-navn="Hjerm" data-pris="1000 DKK">7560</option>
  <option value="7570" data-navn="Vemb" data-pris="1000 DKK">7570</option>
  <option value="7600" data-navn="Struer" data-pris="1000 DKK">7600</option>
  <option value="7620" data-navn="Lemvig" data-pris="1000 DKK">7620</option>
  <option value="7650" data-navn="Bøvlingbjerg" data-pris="1000 DKK">7650</option>
  <option value="7660" data-navn="Bækmarksbro" data-pris="1000 DKK">7660</option>
  <option value="7673" data-navn="Harboøre" data-pris="1000 DKK">7673</option>
  <option value="7680" data-navn="Thyborøn" data-pris="1000 DKK">7680</option>
  <option value="7700" data-navn="Thisted" data-pris="1000 DKK">7700</option>
  <option value="7730" data-navn="Hanstholm" data-pris="1000 DKK">7730</option>
  <option value="7741" data-navn="Frøstrup" data-pris="1000 DKK">7741</option>
  <option value="7742" data-navn="Vesløs" data-pris="1000 DKK">7742</option>
  <option value="7752" data-navn="Snedsted" data-pris="1000 DKK">7752</option>
  <option value="7755" data-navn="Bedsted Thy" data-pris="1000 DKK">7755</option>
  <option value="7760" data-navn="Hurup Thy" data-pris="1000 DKK">7760</option>
  <option value="7770" data-navn="Vestervig" data-pris="1000 DKK">7770</option>
  <option value="7790" data-navn="Thyholm" data-pris="1000 DKK">7790</option>
  <option value="7800" data-navn="Skive" data-pris="1000 DKK">7800</option>
  <option value="7830" data-navn="Vinderup" data-pris="1000 DKK">7830</option>
  <option value="7840" data-navn="Højslev" data-pris="1000 DKK">7840</option>
  <option value="7850" data-navn="Stoholm Jyll" data-pris="1000 DKK">7850</option>
  <option value="7860" data-navn="Spøttrup" data-pris="1000 DKK">7860</option>
  <option value="7870" data-navn="Roslev" data-pris="1000 DKK">7870</option>
  <option value="7884" data-navn="Fur" data-pris="1000 DKK">7884</option>
  <option value="7900" data-navn="Nykøbing M" data-pris="1000 DKK">7900</option>
  <option value="7950" data-navn="Erslev" data-pris="1000 DKK">7950</option>
  <option value="7960" data-navn="Karby" data-pris="1000 DKK">7960</option>
  <option value="7970" data-navn="Redsted M" data-pris="1000 DKK">7970</option>
  <option value="7980" data-navn="Vils" data-pris="1000 DKK">7980</option>
  <option value="7990" data-navn="Øster Assels" data-pris="1000 DKK">7990</option>
  <option value="7992" data-navn="Sydjylland/Fyn USF P" data-pris="1000 DKK">7992</option>
  <option value="7993" data-navn="Sydjylland/Fyn USF B" data-pris="1000 DKK">7993</option>
  <option value="7996" data-navn="Fakturaservice" data-pris="1000 DKK">7996</option>
  <option value="7997" data-navn="Fakturascanning" data-pris="1000 DKK">7997</option>
  <option value="7998" data-navn="Statsservice" data-pris="1000 DKK">7998</option>
  <option value="7999" data-navn="Kommunepost" data-pris="1000 DKK">7999</option>
  <option value="8000" data-navn="Aarhus C" data-pris="1000 DKK">8000</option>
  <option value="8100" data-navn="Aarhus C" data-pris="1000 DKK">8100</option>
  <option value="8200" data-navn="Aarhus N" data-pris="1000 DKK">8200</option>
  <option value="8210" data-navn="Aarhus V" data-pris="1000 DKK">8210</option>
  <option value="8220" data-navn="Brabrand" data-pris="1000 DKK">8220</option>
  <option value="8229" data-navn="Risskov Ø" data-pris="1000 DKK">8229</option>
  <option value="8230" data-navn="Åbyhøj" data-pris="1000 DKK">8230</option>
  <option value="8240" data-navn="Risskov" data-pris="1000 DKK">8240</option>
  <option value="8245" data-navn="Risskov Ø" data-pris="1000 DKK">8245</option>
  <option value="8250" data-navn="Egå" data-pris="1000 DKK">8250</option>
  <option value="8260" data-navn="Viby J" data-pris="1000 DKK">8260</option>
  <option value="8270" data-navn="Højbjerg" data-pris="1000 DKK">8270</option>
  <option value="8300" data-navn="Odder" data-pris="1000 DKK">8300</option>
  <option value="8305" data-navn="Samsø" data-pris="1000 DKK">8305</option>
  <option value="8310" data-navn="Tranbjerg J" data-pris="1000 DKK">8310</option>
  <option value="8320" data-navn="Mårslet" data-pris="1000 DKK">8320</option>
  <option value="8330" data-navn="Beder" data-pris="1000 DKK">8330</option>
  <option value="8340" data-navn="Malling" data-pris="1000 DKK">8340</option>
  <option value="8350" data-navn="Hundslund" data-pris="1000 DKK">8350</option>
  <option value="8355" data-navn="Solbjerg" data-pris="1000 DKK">8355</option>
  <option value="8361" data-navn="Hasselager" data-pris="1000 DKK">8361</option>
  <option value="8362" data-navn="Hørning" data-pris="1000 DKK">8362</option>
  <option value="8370" data-navn="Hadsten" data-pris="1000 DKK">8370</option>
  <option value="8380" data-navn="Trige" data-pris="1000 DKK">8380</option>
  <option value="8381" data-navn="Tilst" data-pris="1000 DKK">8381</option>
  <option value="8382" data-navn="Hinnerup" data-pris="1000 DKK">8382</option>
  <option value="8400" data-navn="Ebeltoft" data-pris="1000 DKK">8400</option>
  <option value="8410" data-navn="Rønde" data-pris="1000 DKK">8410</option>
  <option value="8420" data-navn="Knebel" data-pris="1000 DKK">8420</option>
  <option value="8444" data-navn="Balle" data-pris="1000 DKK">8444</option>
  <option value="8450" data-navn="Hammel" data-pris="1000 DKK">8450</option>
  <option value="8462" data-navn="Harlev J" data-pris="1000 DKK">8462</option>
  <option value="8464" data-navn="Galten" data-pris="1000 DKK">8464</option>
  <option value="8471" data-navn="Sabro" data-pris="1000 DKK">8471</option>
  <option value="8472" data-navn="Sporup" data-pris="1000 DKK">8472</option>
  <option value="8500" data-navn="Grenaa" data-pris="1000 DKK">8500</option>
  <option value="8520" data-navn="Lystrup" data-pris="1000 DKK">8520</option>
  <option value="8530" data-navn="Hjortshøj" data-pris="1000 DKK">8530</option>
  <option value="8541" data-navn="Skødstrup" data-pris="1000 DKK">8541</option>
  <option value="8543" data-navn="Hornslet" data-pris="1000 DKK">8543</option>
  <option value="8544" data-navn="Mørke" data-pris="1000 DKK">8544</option>
  <option value="8550" data-navn="Ryomgård" data-pris="1000 DKK">8550</option>
  <option value="8560" data-navn="Kolind" data-pris="1000 DKK">8560</option>
  <option value="8570" data-navn="Trustrup" data-pris="1000 DKK">8570</option>
  <option value="8581" data-navn="Nimtofte" data-pris="1000 DKK">8581</option>
  <option value="8585" data-navn="Glesborg" data-pris="1000 DKK">8585</option>
  <option value="8586" data-navn="Ørum Djurs" data-pris="1000 DKK">8586</option>
  <option value="8592" data-navn="Anholt" data-pris="1000 DKK">8592</option>
  <option value="8600" data-navn="Silkeborg" data-pris="1000 DKK">8600</option>
  <option value="8620" data-navn="Kjellerup" data-pris="1000 DKK">8620</option>
  <option value="8632" data-navn="Lemming" data-pris="1000 DKK">8632</option>
  <option value="8641" data-navn="Sorring" data-pris="1000 DKK">8641</option>
  <option value="8643" data-navn="Ans By" data-pris="1000 DKK">8643</option>
  <option value="8653" data-navn="Them" data-pris="1000 DKK">8653</option>
  <option value="8654" data-navn="Bryrup" data-pris="1000 DKK">8654</option>
  <option value="8660" data-navn="Skanderborg" data-pris="1000 DKK">8660</option>
  <option value="8670" data-navn="Låsby" data-pris="1000 DKK">8670</option>
  <option value="8680" data-navn="Ry" data-pris="1000 DKK">8680</option>
  <option value="8700" data-navn="Horsens" data-pris="1000 DKK">8700</option>
  <option value="8721" data-navn="Daugård" data-pris="1000 DKK">8721</option>
  <option value="8722" data-navn="Hedensted" data-pris="1000 DKK">8722</option>
  <option value="8723" data-navn="Løsning" data-pris="1000 DKK">8723</option>
  <option value="8732" data-navn="Hovedgård" data-pris="1000 DKK">8732</option>
  <option value="8740" data-navn="Brædstrup" data-pris="1000 DKK">8740</option>
  <option value="8751" data-navn="Gedved" data-pris="1000 DKK">8751</option>
  <option value="8752" data-navn="Østbirk" data-pris="1000 DKK">8752</option>
  <option value="8762" data-navn="Flemming" data-pris="1000 DKK">8762</option>
  <option value="8763" data-navn="Rask Mølle" data-pris="1000 DKK">8763</option>
  <option value="8765" data-navn="Klovborg" data-pris="1000 DKK">8765</option>
  <option value="8766" data-navn="Nørre Snede" data-pris="1000 DKK">8766</option>
  <option value="8781" data-navn="Stenderup" data-pris="1000 DKK">8781</option>
  <option value="8783" data-navn="Hornsyld" data-pris="1000 DKK">8783</option>
  <option value="8789" data-navn="Endelave" data-pris="1000 DKK">8789</option>
  <option value="8799" data-navn="Tunø" data-pris="1000 DKK">8799</option>
  <option value="8800" data-navn="Viborg" data-pris="1000 DKK">8800</option>
  <option value="8830" data-navn="Tjele" data-pris="1000 DKK">8830</option>
  <option value="8831" data-navn="Løgstrup" data-pris="1000 DKK">8831</option>
  <option value="8832" data-navn="Skals" data-pris="1000 DKK">8832</option>
  <option value="8840" data-navn="Rødkærsbro" data-pris="1000 DKK">8840</option>
  <option value="8850" data-navn="Bjerringbro" data-pris="1000 DKK">8850</option>
  <option value="8860" data-navn="Ulstrup" data-pris="1000 DKK">8860</option>
  <option value="8870" data-navn="Langå" data-pris="1000 DKK">8870</option>
  <option value="8881" data-navn="Thorsø" data-pris="1000 DKK">8881</option>
  <option value="8882" data-navn="Fårvang" data-pris="1000 DKK">8882</option>
  <option value="8883" data-navn="Gjern" data-pris="1000 DKK">8883</option>
  <option value="8900" data-navn="Randers C" data-pris="1000 DKK">8900</option>
  <option value="8920" data-navn="Randers NV" data-pris="1000 DKK">8920</option>
  <option value="8930" data-navn="Randers NØ" data-pris="1000 DKK">8930</option>
  <option value="8940" data-navn="Randers SV" data-pris="1000 DKK">8940</option>
  <option value="8950" data-navn="Ørsted" data-pris="1000 DKK">8950</option>
  <option value="8960" data-navn="Randers SØ" data-pris="1000 DKK">8960</option>
  <option value="8961" data-navn="Allingåbro" data-pris="1000 DKK">8961</option>
  <option value="8963" data-navn="Auning" data-pris="1000 DKK">8963</option>
  <option value="8970" data-navn="Havndal" data-pris="1000 DKK">8970</option>
  <option value="8981" data-navn="Spentrup" data-pris="1000 DKK">8981</option>
  <option value="8983" data-navn="Gjerlev J" data-pris="1000 DKK">8983</option>
  <option value="8990" data-navn="Fårup" data-pris="1000 DKK">8990</option>
  <option value="9000" data-navn="Aalborg" data-pris="1000 DKK">9000</option>
  <option value="9029" data-navn="Aalborg" data-pris="1000 DKK">9029</option>
  <option value="9100" data-navn="Aalborg" data-pris="1000 DKK">9100</option>
  <option value="9200" data-navn="Aalborg SV" data-pris="1000 DKK">9200</option>
  <option value="9210" data-navn="Aalborg SØ" data-pris="1000 DKK">9210</option>
  <option value="9220" data-navn="Aalborg Øst" data-pris="1000 DKK">9220</option>
  <option value="9230" data-navn="Svenstrup J" data-pris="1000 DKK">9230</option>
  <option value="9240" data-navn="Nibe" data-pris="1000 DKK">9240</option>
  <option value="9260" data-navn="Gistrup" data-pris="1000 DKK">9260</option>
  <option value="9270" data-navn="Klarup" data-pris="1000 DKK">9270</option>
  <option value="9280" data-navn="Storvorde" data-pris="1000 DKK">9280</option>
  <option value="9293" data-navn="Kongerslev" data-pris="1000 DKK">9293</option>
  <option value="9300" data-navn="Sæby" data-pris="1000 DKK">9300</option>
  <option value="9310" data-navn="Vodskov" data-pris="1000 DKK">9310</option>
  <option value="9320" data-navn="Hjallerup" data-pris="1000 DKK">9320</option>
  <option value="9330" data-navn="Dronninglund" data-pris="1000 DKK">9330</option>
  <option value="9340" data-navn="Asaa" data-pris="1000 DKK">9340</option>
  <option value="9352" data-navn="Dybvad" data-pris="1000 DKK">9352</option>
  <option value="9362" data-navn="Gandrup" data-pris="1000 DKK">9362</option>
  <option value="9370" data-navn="Hals" data-pris="1000 DKK">9370</option>
  <option value="9380" data-navn="Vestbjerg" data-pris="1000 DKK">9380</option>
  <option value="9381" data-navn="Sulsted" data-pris="1000 DKK">9381</option>
  <option value="9382" data-navn="Tylstrup" data-pris="1000 DKK">9382</option>
  <option value="9400" data-navn="Nørresundby" data-pris="1000 DKK">9400</option>
  <option value="9430" data-navn="Vadum" data-pris="1000 DKK">9430</option>
  <option value="9440" data-navn="Aabybro" data-pris="1000 DKK">9440</option>
  <option value="9460" data-navn="Brovst" data-pris="1000 DKK">9460</option>
  <option value="9480" data-navn="Løkken" data-pris="1000 DKK">9480</option>
  <option value="9490" data-navn="Pandrup" data-pris="1000 DKK">9490</option>
  <option value="9492" data-navn="Blokhus" data-pris="1000 DKK">9492</option>
  <option value="9493" data-navn="Saltum" data-pris="1000 DKK">9493</option>
  <option value="9500" data-navn="Hobro" data-pris="1000 DKK">9500</option>
  <option value="9510" data-navn="Arden" data-pris="1000 DKK">9510</option>
  <option value="9520" data-navn="Skørping" data-pris="1000 DKK">9520</option>
  <option value="9530" data-navn="Støvring" data-pris="1000 DKK">9530</option>
  <option value="9541" data-navn="Suldrup" data-pris="1000 DKK">9541</option>
  <option value="9550" data-navn="Mariager" data-pris="1000 DKK">9550</option>
  <option value="9560" data-navn="Hadsund" data-pris="1000 DKK">9560</option>
  <option value="9574" data-navn="Bælum" data-pris="1000 DKK">9574</option>
  <option value="9575" data-navn="Terndrup" data-pris="1000 DKK">9575</option>
  <option value="9600" data-navn="Aars" data-pris="1000 DKK">9600</option>
  <option value="9610" data-navn="Nørager" data-pris="1000 DKK">9610</option>
  <option value="9620" data-navn="Aalestrup" data-pris="1000 DKK">9620</option>
  <option value="9631" data-navn="Gedsted" data-pris="1000 DKK">9631</option>
  <option value="9632" data-navn="Møldrup" data-pris="1000 DKK">9632</option>
  <option value="9640" data-navn="Farsø" data-pris="1000 DKK">9640</option>
  <option value="9670" data-navn="Løgstør" data-pris="1000 DKK">9670</option>
  <option value="9681" data-navn="Ranum" data-pris="1000 DKK">9681</option>
  <option value="9690" data-navn="Fjerritslev" data-pris="1000 DKK">9690</option>
  <option value="9700" data-navn="Brønderslev" data-pris="1000 DKK">9700</option>
  <option value="9740" data-navn="Jerslev J" data-pris="1000 DKK">9740</option>
  <option value="9750" data-navn="Østervrå" data-pris="1000 DKK">9750</option>
  <option value="9760" data-navn="Vrå" data-pris="1000 DKK">9760</option>
  <option value="9800" data-navn="Hjørring" data-pris="1000 DKK">9800</option>
  <option value="9830" data-navn="Tårs" data-pris="1000 DKK">9830</option>
  <option value="9850" data-navn="Hirtshals" data-pris="1000 DKK">9850</option>
  <option value="9870" data-navn="Sindal" data-pris="1000 DKK">9870</option>
  <option value="9881" data-navn="Bindslev" data-pris="1000 DKK">9881</option>
  <option value="9900" data-navn="Frederikshavn" data-pris="1000 DKK">9900</option>
  <option value="9940" data-navn="Læsø" data-pris="1000 DKK">9940</option>
  <option value="9970" data-navn="Strandby" data-pris="1000 DKK">9970</option>
  <option value="9981" data-navn="Jerup" data-pris="1000 DKK">9981</option>
  <option value="9982" data-navn="Ålbæk" data-pris="1000 DKK">9982</option>
  <option value="9990" data-navn="Skagen" data-pris="1000 DKK">9990</option>
</select>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script type="text/javascript">
  function matchStart(params, data) {
    params.term = params.term || '';
    if (data.text.toUpperCase().indexOf(params.term.toUpperCase()) == 0) {
      return data;
    }
    return false;
  }
  $('.prodbuy-selector').select2({
    matcher: function(params, data) {
      return matchStart(params, data);
    },
  });
  $('.prodbuy-selector').on('change', function() {
    if ($(this).val() != ''){
      $('.post-selected').text($(this).find(':selected').data('navn'));
      $('#SingleOptionSelector-0').val($(this).find(':selected').data('pris')).hide();
      $('.prod_buy_selector .select2').slideUp();
      $('.prod_buy_container').slideDown();
    }
  });
</script>
